<html>
  <head>
    <title>Campaign</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div id="particles-canvas"></div>
    <div class="container" style="text-align:center">
      <h1 class="display-1" id="description_header">Introducting Campaign</h1>
      <br>
      <br>
      <p id="description">Featuring interactive graphs, maps and charts, Campaign allows you to experience real-time and historical data of how well your political candidates are being receieved by the public.
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-2" style="text-align:center;">
          <a href="../templates/clinton.html">
            <img src="../img/clinton2.jpg" class="img-responsive img-circle"/>
            <h4>Hillary Clinton</h4>
          </a>
        </div>

        <div class="col-md-3 col-md-offset-2" style="text-align:center;">
          <a href="../templates/trump.html">
            <img src="../img/trump.jpg" class="img-responsive img-circle"/>
            <h4>Donald Trump</h4>
          </a>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <footer>
      Bye
    </footer>
  </body>
</html>
