<html>
  <head>
    <title>Campaign</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="container" style="text-align:center; padding-top:10px;">
      <div class="row">
        <img src="../img/trump.jpg" class="img-responsive img-circle"/>
        <h1> Donald Trump</h1>
        <h4>2016 US Republican Presidential Candidate</h4>
      </div>
      <hr>
      <div class="row" id="iframe_short_term" style="float:left">
          <iframe width="550" height="550" frameborder="0" scrolling="yes" src="https://plot.ly/~SamarthJain/1.embed"></iframe>
      </div>
      <div class="row" id="iframe_long_term" style="float:right">
          <iframe width="550" height="550" frameborder="0" scrolling="yes" src="https://plot.ly/~AhanM/4.embed"></iframe>
      </div>
    </div>

  </body>
</html>
