<html>
  <head>
    <title>Campaign</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="container" style="text-align:center; padding-top:10px;">
      <div class="row">
        <img src="../img/trump.jpg" class="img-responsive img-circle"/>
        <h1> Donald Trump</h1>
        <h4>2016 US Republican Presidential Candidate</h4>
      </div>
      <div class="row" id="iframe">
          <iframe width="900" height="800" frameborder="0" scrolling="yes" src="https://plot.ly/~SamarthJain/1.embed"></iframe>
      </div>
    </div>

  </body>
</html>
